Host *
    ServerAliveInterval 300
    ControlMaster auto
    ControlPath ~/.ssh/cm_socket/%r@%h:%p
    SetEnv TERM=xterm-256color

Host desktop.armooo.net
    ForwardAgent yes
    ForwardX11 yes

Host file-server
    ForwardAgent yes
    ForwardX11 yes

Host openwrt
    User root
